doctype html
head
  meta(charset='utf-8')
  title
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
  // Place favicon.ico in the root directory
  link(rel='stylesheet' href='css/normalize.css')
  link(rel='stylesheet' href='css/main.css')
  meta(name='theme-color' content='#fafafa')
#vaccine-tracker.vaccine-tracker
  aside.drawer-navigation
    h1 All vaccines (average)
    progress(max='100' value='10')
    ul
      li
        a(href='#')
          img(src='')
          span RNA
          progress(max='100' value='10')
        ul
          li
            a(href='#sanofi')
              span Sanofi
              progress(max='100' value='10')
          li
            a(href='#novavax')
              span Novavax
              progress(max='100' value='10')
      li
        a(href='#')
          img(src='')
          span Inactivated
          progress(max='100' value='10')
      li
        a(href='#')
          img(src='')
          span Protein Subunit
          progress(max='100' value='10')
      li
        a(href='#')
          img(src='')
          span Live Attenuated Virus
          progress(max='100' value='10')
      li
        a(href='#')
          img(src='')
          span VLP
          progress(max='100' value='10')
      li
        a(href='#')
          img(src='')
          span Replicating Viral Vector
          progress(max='100' value='10')
      li
        a(href='#')
          img(src='')
          span DNA
          progress(max='100' value='10')
      li
        a(href='#')
          img(src='')
          span Unknown
          progress(max='100' value='10')
  #sanofi.report
    .body
      h1 Sanofi
      h2 Chinese based manufacturer blah blah who cares
      p
        | A little bit about the manufacturer talking about you like how they&apos;re a manufacturer and some bullshit like that.
  #novavax.report
    .body
      h1 Novavax
      h2 Chinese based manufacturer blah blah who cares
      p
        | A little bit about the manufacturer talking about you like how they&apos;re a manufacturer and some bullshit like that.
  progress(max='100' value='10')
  button#nav_previous.previous
  button#nav_next.next
  button#expander.expander
script(src='js/main.js')
